html {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

nav {
  color: #93a1a1;
}

.dfn {
  background-color: #b58900;
}

div strong {
  color: #fff;
}

ul a {
  background-color: #719e07;
}

ul a:last-child {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

.favs ol:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}
