body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}
h1 class="logo" {
  text-transform: uppercase;
}

main class="wrapper" {
  background-color: #eee8d5;
}

h2 id="contents, favs, facts, types" {
  color: #93a1a1;
}

div p class="dfn"{
  background-color:#b58900;
}

div p class="dfn" strong {
  color: #fff;
}

a href="index.html" herf="history.html" herf="contact.html"{
  background-color: #719e07;
}

rel="external" {
  background-color: #2694d8;
}

ol li Raspberry {
color: #719e47;
}

ul class="types"
  li achene
  li caryopsis
  li fibrous drupe
  li legume
  li nut
  li schizocarp
  li silicle{
    background-color: #657ba3;
  }
ul class="types"
  li capsule
  li Cypsela
  li follicle
  li loment
  li samara
  li silique
  li utricle {
background-color: #586e75;
}
ul class="types"
  li caryopsis
  li follicle
  li nut
  li silique {
    background-color: #d04b16;
  }
